joblib==0.15.1
Pillow==7.2.0
tweepy==3.8.0
pandas==1.0.5
nltk==3.5
scikit-learn==0.23.2
Tashaphyne==0.3.4.1
emoji==0.5.4
django-emoji==2.2.2
elasticsearch==7.8.0
pyenchant==3.1.1
textblob==0.15.3
translate==3.5.0
googletrans==3.0.0
joblib==0.15.1
matplotlib==3.3.0
numpy==1.18.5
parallel-execute==0.1.0
snowballstemmer==2.0.0
